.socials {
    ol {
        display: flex;
        gap: 10px;
    }

    margin-top: 10px;
    margin-left: 2px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 2rem;
    }
}