@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #181818;
  background: radial-gradient(circle at top, #36342c, var(--background-color) 1000px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root[data-theme=light] {
  color: rgba(0, 0, 0, 0.87);
  --background-color: whitesmoke;
  background: radial-gradient(circle at top, rgb(248, 248, 220), var(--background-color) 1000px);
}

.page-section {
  margin: 100px 0;
}